In [51]:
# Requires the PyMongo package.
# https://api.mongodb.com/python/current
from json import load
from pymongo import MongoClient
import os
from dotenv import load_dotenv

In [52]:
load_dotenv()
client = MongoClient(os.environ['MONGO_LOGIN'])

## Filters

In [53]:
##Filters
filter={
    'id': {
        '$in': [
            '7000', '7001'
        ]
    }
}

result = client['sample_mflix']['movies'].find(
  filter=filter
)

for item in result:
    print(item)

{'_id': ObjectId('62b5245234efd39468ce9c3b'), 'id': '7000', 'gen': 'M', 'edad': '47', 'ocup': '12', 'cp': '06780'}
{'_id': ObjectId('62b5250934efd39468ce9c3c'), 'id': '7001', 'gen': 'F', 'edad': '36', 'ocup': '10', 'cp': '06780', 'pelisValoradas': ["One Flew Over the Cuckoo's Nest (1975)", 'James and the Giant Peach (1996)', 'My Fair Lady (1964)', 'Erin Brockovich (2000)']}

## Projections

For example if we want to get only the name and mail of the user, we write

In [54]:
filter={}
project={
    'name': 1, 
    'email': 1
}

result = client['sample_mflix']['users'].find(
  filter=filter,
  projection=project
).limit(10)

print('First 10 documents', "\n")
for item in result:
    print(item)

First 10 documents

{'_id': ObjectId('59b99db4cfa9a34dcd7885b6'), 'name': 'Ned Stark', 'email': 'sean_bean@gameofthron.es'}
{'_id': ObjectId('59b99db4cfa9a34dcd7885b7'), 'name': 'Robert Baratheon', 'email': 'mark_addy@gameofthron.es'}
{'_id': ObjectId('59b99db5cfa9a34dcd7885b8'), 'name': 'Jaime Lannister', 'email': 'nikolaj_coster-waldau@gameofthron.es'}
{'_id': ObjectId('59b99db5cfa9a34dcd7885b9'), 'name': 'Catelyn Stark', 'email': 'michelle_fairley@gameofthron.es'}
{'_id': ObjectId('59b99db6cfa9a34dcd7885ba'), 'name': 'Cersei Lannister', 'email': 'lena_headey@gameofthron.es'}
{'_id': ObjectId('59b99db6cfa9a34dcd7885bb'), 'name': 'Daenerys Targaryen', 'email': 'emilia_clarke@gameofthron.es'}
{'_id': ObjectId('59b99db6cfa9a34dcd7885bc'), 'name': 'Jorah Mormont', 'email': 'iain_glen@gameofthron.es'}
{'_id': ObjectId('59b99db7cfa9a34dcd7885bd'), 'name': 'Petyr Baelish', 'email': 'aidan_gillen@gameofthron.es'}
{'_id': ObjectId('59b99db8cfa9a34dcd7885be'), 'name': 'Viserys Targaryen', 'email': 'harry_lloyd@gameofthron.es'}
{'_id': ObjectId('59b99db9cfa9a34dcd7885bf'), 'name': 'Jon Snow', 'email': 'kit_harington@gameofthron.es'}

In [55]:
filter={}
project={
    'name': 1, 
    'date': 1,
    'text':1
}

result = client['sample_mflix']['comments'].find(
  filter=filter,
  projection=project
).limit(10)

print('First 10 documents', "\n")
for item in result:
    print(item)

First 10 documents

{'_id': ObjectId('5a9427648b0beebeb69579e7'), 'name': 'Mercedes Tyler', 'text': 'Eius veritatis vero facilis quaerat fuga temporibus. Praesentium expedita sequi repellat id. Corporis minima enim ex. Provident fugit nisi dignissimos nulla nam ipsum aliquam.', 'date': datetime.datetime(2002, 8, 18, 4, 56, 7)}
{'_id': ObjectId('5a9427648b0beebeb69579f5'), 'name': 'John Bishop', 'text': 'Id error ab at molestias dolorum incidunt. Non deserunt praesentium dolorem nihil. Optio tempora vel ut quas.\nMinus dicta numquam quasi. Rem totam cumque at eum. Ullam hic ut ea magni.', 'date': datetime.datetime(1975, 1, 21, 0, 31, 22)}
{'_id': ObjectId('5a9427648b0beebeb6957a21'), 'name': "Jaqen H'ghar", 'text': 'Minima odit officiis minima nam. Aspernatur id reprehenderit eius inventore amet laudantium. Eos unde enim recusandae fugit sint.', 'date': datetime.datetime(1981, 11, 8, 4, 32, 25)}
{'_id': ObjectId('5a9427648b0beebeb6957a22'), 'name': 'Taylor Scott', 'text': 'Iure laboriosam quo et necessitatibus sed. Id iure delectus soluta. Quaerat officiis maiores commodi earum. Autem odio labore debitis optio libero.', 'date': datetime.datetime(1970, 11, 15, 5, 54, 2)}
{'_id': ObjectId('5a9427648b0beebeb6957a38'), 'name': 'Yara Greyjoy', 'text': 'Nobis incidunt ea tempore cupiditate sint. Itaque beatae hic ut quis.', 'date': datetime.datetime(2012, 11, 26, 11, 0, 57)}
{'_id': ObjectId('5a9427648b0beebeb6957a4b'), 'name': 'Gregor Clegane', 'text': 'Voluptatum voluptatem nam et accusamus ullam qui explicabo exercitationem. Ut sint facilis aut similique dolorum non. Necessitatibus unde molestias incidunt asperiores nesciunt molestias.', 'date': datetime.datetime(2015, 2, 8, 1, 28, 23)}
{'_id': ObjectId('5a9427648b0beebeb6957a88'), 'name': 'Thomas Morris', 'text': 'Perspiciatis sequi nesciunt maiores. Molestiae earum odio voluptas animi ipsam. Dolorem libero temporibus omnis quaerat deleniti atque. Tempore delectus esse explicabo nemo.', 'date': datetime.datetime(2004, 2, 26, 6, 33, 3)}
{'_id': ObjectId('5a9427648b0beebeb6957aa3'), 'name': 'Yolanda Owen', 'text': 'Occaecati commodi quidem aliquid delectus dolores. Facilis fugiat soluta maxime ipsum. Facere quibusdam vitae eius in fugit voluptatum beatae.', 'date': datetime.datetime(1980, 7, 13, 6, 41, 13)}
{'_id': ObjectId('5a9427648b0beebeb6957abd'), 'name': 'John Bishop', 'text': 'Accusamus qui distinctio ut ab saepe tenetur. Quae optio aut eius deleniti veritatis error. Eligendi ducimus rerum recusandae doloribus. Natus quisquam expedita voluptatum voluptatibus natus quidem.', 'date': datetime.datetime(1972, 4, 16, 14, 52, 53)}
{'_id': ObjectId('5a9427648b0beebeb6957ac8'), 'name': 'Olenna Tyrell', 'text': 'Sed iste tenetur ut. Veritatis deserunt iusto blanditiis similique reprehenderit. Expedita voluptas voluptatibus exercitationem odit. Saepe culpa dolorem error nulla.', 'date': datetime.datetime(2007, 6, 27, 20, 27, 44)}

### Which comments has writen Greg Powell?

In [56]:
ilter={
    'name': 'Greg Powell'
}
project={
    'name': 1, 
    'text': 1
}

result = client['sample_mflix']['comments'].find(
  filter=filter,
  projection=project
).limit(10)

print('First 10 documents', "\n")
for item in result:
    print(item)

First 10 documents

{'_id': ObjectId('5a9427648b0beebeb69579e7'), 'name': 'Mercedes Tyler', 'text': 'Eius veritatis vero facilis quaerat fuga temporibus. Praesentium expedita sequi repellat id. Corporis minima enim ex. Provident fugit nisi dignissimos nulla nam ipsum aliquam.'}
{'_id': ObjectId('5a9427648b0beebeb69579f5'), 'name': 'John Bishop', 'text': 'Id error ab at molestias dolorum incidunt. Non deserunt praesentium dolorem nihil. Optio tempora vel ut quas.\nMinus dicta numquam quasi. Rem totam cumque at eum. Ullam hic ut ea magni.'}
{'_id': ObjectId('5a9427648b0beebeb6957a21'), 'name': "Jaqen H'ghar", 'text': 'Minima odit officiis minima nam. Aspernatur id reprehenderit eius inventore amet laudantium. Eos unde enim recusandae fugit sint.'}
{'_id': ObjectId('5a9427648b0beebeb6957a22'), 'name': 'Taylor Scott', 'text': 'Iure laboriosam quo et necessitatibus sed. Id iure delectus soluta. Quaerat officiis maiores commodi earum. Autem odio labore debitis optio libero.'}
{'_id': ObjectId('5a9427648b0beebeb6957a38'), 'name': 'Yara Greyjoy', 'text': 'Nobis incidunt ea tempore cupiditate sint. Itaque beatae hic ut quis.'}
{'_id': ObjectId('5a9427648b0beebeb6957a4b'), 'name': 'Gregor Clegane', 'text': 'Voluptatum voluptatem nam et accusamus ullam qui explicabo exercitationem. Ut sint facilis aut similique dolorum non. Necessitatibus unde molestias incidunt asperiores nesciunt molestias.'}
{'_id': ObjectId('5a9427648b0beebeb6957a88'), 'name': 'Thomas Morris', 'text': 'Perspiciatis sequi nesciunt maiores. Molestiae earum odio voluptas animi ipsam. Dolorem libero temporibus omnis quaerat deleniti atque. Tempore delectus esse explicabo nemo.'}
{'_id': ObjectId('5a9427648b0beebeb6957aa3'), 'name': 'Yolanda Owen', 'text': 'Occaecati commodi quidem aliquid delectus dolores. Facilis fugiat soluta maxime ipsum. Facere quibusdam vitae eius in fugit voluptatum beatae.'}
{'_id': ObjectId('5a9427648b0beebeb6957abd'), 'name': 'John Bishop', 'text': 'Accusamus qui distinctio ut ab saepe tenetur. Quae optio aut eius deleniti veritatis error. Eligendi ducimus rerum recusandae doloribus. Natus quisquam expedita voluptatum voluptatibus natus quidem.'}
{'_id': ObjectId('5a9427648b0beebeb6957ac8'), 'name': 'Olenna Tyrell', 'text': 'Sed iste tenetur ut. Veritatis deserunt iusto blanditiis similique reprehenderit. Expedita voluptas voluptatibus exercitationem odit. Saepe culpa dolorem error nulla.'}

### What is the max number of comments on a single movie?

In [57]:
filter={}
project={
    'num_mflix_comments': 1
}
sort=list({
    'num_mflix_comments': -1
}.items())

result = client['sample_mflix']['movies'].find(
  filter=filter,
  projection=project,
  sort=sort
).limit(1)

print('First 1', "\n")
for item in result:
    print(item)

First 1

{'_id': ObjectId('573a13bff29313caabd5e91e'), 'num_mflix_comments': 161}

### What's the title of the top 5 most commented movies

In [58]:
filter={}
project={
    'num_mflix_comments': 1, 
    'title': 1
}
sort=list({
    'num_mflix_comments': -1
}.items())
limit=5

result = client['sample_mflix']['movies'].find(
  filter=filter,
  projection=project,
  sort=sort,
  limit=limit
)

for item in result:
    print(item)

{'_id': ObjectId('573a13bff29313caabd5e91e'), 'title': 'The Taking of Pelham 1 2 3', 'num_mflix_comments': 161}
{'_id': ObjectId('573a13a3f29313caabd0d1e3'), 'title': "Ocean's Eleven", 'num_mflix_comments': 158}
{'_id': ObjectId('573a13a5f29313caabd159a9'), 'title': 'About a Boy', 'num_mflix_comments': 158}
{'_id': ObjectId('573a13b3f29313caabd3b647'), 'title': 'Terminator Salvation', 'num_mflix_comments': 158}
{'_id': ObjectId('573a13abf29313caabd25582'), 'title': '50 First Dates', 'num_mflix_comments': 158}

In [59]:
filter={}
project={
    'num_mflix_comments': 1, 
    'title': 1
}
sort=list({
    'num_mflix_comments': -1
}.items())

result = client['sample_mflix']['movies'].find(
  filter=filter,
  projection=project,
  sort=sort,
  limit=limit
).limit(5)

for item in result:
    print(item)

{'_id': ObjectId('573a13bff29313caabd5e91e'), 'title': 'The Taking of Pelham 1 2 3', 'num_mflix_comments': 161}
{'_id': ObjectId('573a13a3f29313caabd0d1e3'), 'title': "Ocean's Eleven", 'num_mflix_comments': 158}
{'_id': ObjectId('573a13a5f29313caabd159a9'), 'title': 'About a Boy', 'num_mflix_comments': 158}
{'_id': ObjectId('573a13b3f29313caabd3b647'), 'title': 'Terminator Salvation', 'num_mflix_comments': 158}
{'_id': ObjectId('573a13abf29313caabd25582'), 'title': '50 First Dates', 'num_mflix_comments': 158}

##  Querying nested objects

Usinmg the quotes dot syntax:
{"imdb.votes":1}

In [60]:
filter={}
project={
    'imdb.votes': 1
}

result = client['sample_mflix']['movies'].find(
  filter=filter,
  projection=project
).limit(1)
for item in result:
    print(item)

{'_id': ObjectId('573a1390f29313caabcd4135'), 'imdb': {'votes': 1189}}

## Aggregations

In [61]:
# Requires the PyMongo package.
# https://api.mongodb.com/python/current

#client = MongoClient('mongodb+srv://axiom-of-choice:458Wo8qMfM55l80t@cluster0.epz53.mongodb.net/test')
result = client['sample_airbnb']['listingsAndReviews'].aggregate([
    {
        '$match': {
            'property_type': 'House', 
            'bedrooms': {
                '$gte': 1
            }
        }
    }, {
        '$addFields': {
            'bedroom_cost': {
                '$divide': [
                    '$price', '$bedrooms'
                ]
            }
        }
    }, {
        '$group': {
            '_id': None, 
            'recamaras': {
                '$sum': 1
            }, 
            'total': {
                '$sum': '$bedroom_cost'
            }
        }
    }, {
        '$addFields': {
            'costo_promedio': {
                '$divide': [
                    '$total', '$recamaras'
                ]
            }
        }
    }
])
for item in result:
    print(item)

{'_id': None, 'recamaras': 586, 'total': Decimal128('84695.41428571428571428571428571430'), 'costo_promedio': Decimal128('144.5314236957581667479278400780108')}

## Querying multiple collections

In [62]:
# Requires the PyMongo package.
# https://api.mongodb.com/python/current
result = client['sample_mflix']['comments'].aggregate([
    {
        '$lookup': {
            'from': 'movies', 
            'localField': 'movie_id', 
            'foreignField': '_id', 
            'as': 'pelicula'
        }
    }, {
        '$addFields': {
            'pelicula_objeto': {
                '$arrayElemAt': [
                    '$pelicula', 0
                ]
            }
        }
    }, {
        '$addFields': {
            'pelicula_nombre': '$pelicula_objeto.title'
        }
    }, {
        '$project': {
            '_id': 0, 
            'pelicula_nombre': 1, 
            'name': 1, 
            'text': 1
        }
    },
    {
        "$limit":5
    }
])
for item in result:
    print(item)

{'name': 'Mercedes Tyler', 'text': 'Eius veritatis vero facilis quaerat fuga temporibus. Praesentium expedita sequi repellat id. Corporis minima enim ex. Provident fugit nisi dignissimos nulla nam ipsum aliquam.', 'pelicula_nombre': 'The Land Beyond the Sunset'}
{'name': 'John Bishop', 'text': 'Id error ab at molestias dolorum incidunt. Non deserunt praesentium dolorem nihil. Optio tempora vel ut quas.\nMinus dicta numquam quasi. Rem totam cumque at eum. Ullam hic ut ea magni.', 'pelicula_nombre': 'A Corner in Wheat'}
{'name': "Jaqen H'ghar", 'text': 'Minima odit officiis minima nam. Aspernatur id reprehenderit eius inventore amet laudantium. Eos unde enim recusandae fugit sint.', 'pelicula_nombre': 'In the Land of the Head Hunters'}
{'name': 'Taylor Scott', 'text': 'Iure laboriosam quo et necessitatibus sed. Id iure delectus soluta. Quaerat officiis maiores commodi earum. Autem odio labore debitis optio libero.', 'pelicula_nombre': 'Traffic in Souls'}
{'name': 'Yara Greyjoy', 'text': 'Nobis incidunt ea tempore cupiditate sint. Itaque beatae hic ut quis.', 'pelicula_nombre': 'Regeneration'}

## Inserting new documents into a collection

### Insert one

In [63]:
## Insert one

collection = client['test']['inserting_docs']
dict = {"name": "Isaac", "age": 23}
collection.insert_one(dict)

result = client['test']['inserting_docs'].find_one()
print(result)

{'_id': ObjectId('62bbb84ca5deb89359ef7596'), 'name': 'Isaac', 'age': 23}

### Insert many

In [64]:
##Insert many
collection = client['test']['inserting_docs']
mycol = client['test']['inserting_docs']
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('62bbb84da5deb89359ef7597'), ObjectId('62bbb84da5deb89359ef7598'), ObjectId('62bbb84da5deb89359ef7599'), ObjectId('62bbb84da5deb89359ef759a'), ObjectId('62bbb84da5deb89359ef759b'), ObjectId('62bbb84da5deb89359ef759c'), ObjectId('62bbb84da5deb89359ef759d'), ObjectId('62bbb84da5deb89359ef759e'), ObjectId('62bbb84da5deb89359ef759f'), ObjectId('62bbb84da5deb89359ef75a0'), ObjectId('62bbb84da5deb89359ef75a1'), ObjectId('62bbb84da5deb89359ef75a2')]

### Insert Multiple Documents, with Specified IDs

In [65]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

try:
  x = mycol.insert_many(mylist)
except:
  print('The ids already exists')
#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## Update Documents

### Update one

In [66]:
collection = client['test']['inserting_docs']
document = {"_id": 1}
documents = collection.find(document)
new_values = {"$set":{"name": "Karina"}}

print(f"Updating document {[document for document in documents]} with the values {new_values}")
collection.update_one(document,new_values)
print("Updated")

Updating document [{'_id': 1, 'name': 'John', 'address': 'Highway 37'}] with the values {'$set': {'name': 'Karina'}}
Updated

### Update Many

In [67]:
collection = client['test']['inserting_docs']
documents = { "address": { "$regex": "^M" } }
result = collection.find(documents)
new_values = {"$set":{"name": "Karina"}}

print(f"Updating document {[document for document in result]} with the values {new_values}")
x = collection.update_many(documents,new_values)
print(f"Updated {x.modified_count} documents")

Updating document [{'_id': ObjectId('62bbb84da5deb89359ef7598'), 'name': 'Hannah', 'address': 'Mountain 21'}, {'_id': ObjectId('62bbb84da5deb89359ef75a1'), 'name': 'Chuck', 'address': 'Main Road 989'}, {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}, {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}] with the values {'$set': {'name': 'Karina'}}
Updated 4 documents

## Delete Documents

### Delete One

In [68]:
collection = client['test']['inserting_docs']
query = {"_id":1}
result = collection.find(query)

print(f"Deleting document {[document for document in result]}")
collection.delete_one(query)
print("Deleted")

Deleting document [{'_id': 1, 'name': 'Karina', 'address': 'Highway 37'}]
Deleted

### Deleting Many Documents

In [69]:
collection = client['test']['inserting_docs']
documents = { "address": { "$regex": "^M" } }
result = collection.find(documents)

print(f"Deleting documents {[document for document in result]}")
x = collection.delete_many(documents)
print(f"Deleted {x.deleted_count} documents")

Deleting documents [{'_id': ObjectId('62bbb84da5deb89359ef7598'), 'name': 'Karina', 'address': 'Mountain 21'}, {'_id': ObjectId('62bbb84da5deb89359ef75a1'), 'name': 'Karina', 'address': 'Main Road 989'}, {'_id': 4, 'name': 'Karina', 'address': 'Mountain 21'}, {'_id': 13, 'name': 'Karina', 'address': 'Main Road 989'}]
Deleted 4 documents

### Deleting All Documents in a Collection

In [70]:
collection = client['test']['inserting_docs']

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

22  documents deleted.